body {
  background-color: rgb(201, 206, 206);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pic {
  position: absolute;
  text-align: center;

}
.navbar {
  top: 2em;
  background-color: rgb(194, 31, 153);
  overflow: hidden;

}
.Home {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.About {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.Login {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.Browse {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.aboutme {
  color: rgb(0, 0, 0);
  text-align: center; 
  position: absolute;
  top: 25em;
}
.hello {
  color: rgb(0, 0, 0);
  text-align: center; 
  position: absolute;
  margin-left: 12.5em;
  top: 11em;
}
.tryit {
  position: absolute;
  text-align: center;
  top: 25em;
  margin-left: 3em;
}
.card {
  border-style: solid; 
  background-color: white;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Home:hover {
  background-color: #ddd;
  color: black;
}
.About:hover {
  background-color: #ddd;
  color: black;
}
.welcomeform {
  text-align: center;
  position: absolute;
  top: 25em;
  margin-left: 20em;
}
.Login:hover {
  background-color: #ddd;
  color: black;
}
.login {
  position: absolute;
  top: 25em;
  margin-left: 10em;
}

.newuser {
  position: absolute;
  top: 25em;
  margin-left: 40em;
}
/* .login {
  position: relative;
  background-color: #333;
  overflow: hidden;
/* }
 .navbar {
  position: top;
  background-color: rgb(51, 51, 51);
  overflow: hidden;
}  */

ul {
  border-style: outset;
  margin: 20;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
